body {
  margin: 0;
  padding: 1em;
}

#top {
  margin: 0%;
  background-color: #1eb6b6ef;
}

#titre {
  font-size: 5em;
  display: flex;
  justify-content: center;
}

#nom {
  font-size: 3em;
}

p {
  padding: 1em;
}

#descriptions {
  display: flex;
  flex-flow: row;
  align-content: flex-start;

  background-color: coral;
}

#images {
  display: grid;
  grid-template: auto / repeat(3, 1fr);

  justify-items: center;
}

.cercle {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  padding: 5em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-contact {
  display: flex;
  justify-content: space-around;
  width: 70%;
  border: solid;
}

#mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
